<div class="ui-locale-badge">
  <span class="ui-locale-badge-label">{{ t('uiLocale.label') }}</span>
  {% if uiLocaleBadgeShowValue != false %}
    <span class="ui-locale-badge-value">{{ uiLocaleCurrent.label }}</span>
  {% endif %}
</div>
