# Let the server know if you are in 'development' or 'production' you should set this as an environment variable in the Heroku dashboard of your app.
NODE_ENV=development

# Server port, you must not set it manually when deploying to Heroku, as it provides process.env.PORT so it must only be used for local testing
PORT=3000

# set HEROKY_KATEI_APP_PROD as a Github Repository secret, it should be the name of the app you created in heroku
HEROKU_APP_NAME=HEROKY_KATEI_APP_PROD

# Replace YOUR_HEROKU_API_KEY with a real Heroku API key as a Github Repository secret
HEROKU_API_KEY=YOUR_HEROKU_API_KEY